---
import Base from "../layouts/Base.astro";

const title = "Page not found | DPS & Co";
const description = "The page you requested could not be found.";
---
<Base title={title} description={description}>
  <h1>Page not found</h1>
  <p class="lede">Sorry, that page doesn't exist.</p>
  <ul class="ticks">
    <li><a href="/">Go to the home page</a></li>
    <li><a href="/services/">Browse our services</a></li>
    <li><a href="/contact/">Contact us</a></li>
  </ul>
</Base>
